<%= form_for(jam_group_member) do |f| %>
  <% if jam_group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jam_group_member.errors.count, "error") %> prohibited this jam_group_member from being saved:</h2>

      <ul>
      <% jam_group_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
